body {
    margin: 0;
    padding: 0;
}

#main-gallery img {
    width: 128px;
    height: 74px;
}

.current-photo-wrapper {
    width: auto;
    height: auto;
}

.current-photo-wrapper img {
    width: 640px;
    height: 380px;
}
